__pycache__/
*.py[cod]
*$py.class
*.o
*.so
*.so.dSYM
*.nitin
Checkpoints/
HomographyNetUnsup/Logs/
DeblurNetUnsup/Logs/
EVFlowNet/Logs/
EVFlowNet2/Logs/
CheckpointsHomography/
CheckpointsHomography2/
TestMultipleNetworks/Checkpoints1/
TestMultipleNetworks/Checkpoints1Copy/
TestMultipleNetworks/Checkpoints2/
TestMultipleNetworks/Logs/
